<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Create, Modify and Delete your List Students reports"
        name="List Students Autoloader"
        version="4.0.4"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
